@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 15em; /* Largeur suffisante pour "Site in development" */
  }
  90%,
  100% {
    width: 0;
  }
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation: typeAndDelete 4s steps(20) infinite, /* Ajust steps pour le texte */
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}

.terminal-loader {
  width: fit-content;
  max-width: 90%;
  padding: 1.5em;
  margin: 100px auto;
}
